<section class="bg-primary" id="about">
  <div class="container">
    <h2 class="text-center">About me</h1>
    <hr class="light">
    <br>
    <div class="row">
      <div class="col-md-6">
        <p>
          Hi, I am Dawn, a wife and mother to 3 wonderful kids! I began using
          essential oils not too long ago as we were searching for natural
          solutions to assist one of our children in the area of focus and
          concentration. We began using them in various ways to support us in
          overall health and wellness. The results were remarkable. Not only are
          we happy to see such effective results while assisting our bodies in
          healing, we are also confident in knowing that we are lessening our
          toxic load at home with toxic free personal care and household
          cleaners. At the same time, we are also cutting back on waste as we
          have been making many of our own products with essential oils, such as
          dishwasher detergent, all-purpose cleaner, deodorant, detangler hair
          spray, bath bombs, etc… It is a lot of fun to create with all natural
          ingredients that have such incredible therapeutic benefits! Please
          contact me if you are interested in learning more. I would be happy to
          set up an appointment with you where we can discuss one on one, the
          benefits of these lovely pure essential oils.
        </p>
        <div class="text-center">
        <a
        href="#contact"
        class="btn btn-default btn-xl"
        >Contact me</a
      ></div>
      </div>
      <div class="col-md-6">
        <img
          class=""
          src="/img/family.jpg"
          width = "100%" height = "auto"
          style="border-radius: 5px; margin-top: 5px;"
        />       
      </div>
      
    </div>
  </div>

  
</section>
