<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What are essential oils?</h2>
                <hr class="light">
                <p class="text-faded">doTERRA is latin for „Gift of the Earth“ and that is exactly what essential oils are. They are called volatile aromatic compounds, and these compounds are found in plants, seeds and flowers and contribute to the aroma, protection and pollination for plants. These compounds also have amazing aromatherapy benefits and depending on quality can be used for a wide range of emotional and physical wellness applications.

Watch the video below for more information!!</p>
                <a href="https://www.youtube.com/watch?v=DDAUIMBxFMk" class="btn btn-default btn-xl">Video</a>
            </div>
        </div>
    </div>
</section>
