<section class="bg-primary" id="essentialoils">
  <div class="container">
    <h2 class="text-center">What are essential oils?</h2>
    <hr class="light" />
    <br />
    <div class="row">
      <div class="col-md-6">
        <p>
          doTERRA is latin for „Gift of the Earth“ and that is exactly what
          essential oils are. They are called volatile aromatic compounds, and
          these compounds are found in plants, seeds and flowers and contribute
          to the aroma, protection and pollination for plants. These compounds
          also have amazing aromatherapy benefits and depending on quality can
          be used for a wide range of emotional and physical wellness
          applications.
        </p>
        <p>Watch the video below for more information!!</p>
        <div class="text-center">
          <a
            href="https://www.youtube.com/watch?v=DDAUIMBxFMk"
            class="btn btn-default btn-xl"
            >Video</a
          >
        </div>
      </div>
      <div class="col-md-6">
        <img
          class=""
          src="/img/website-pic-1.jpg"
          width="100%"
          height="auto"
          style="border-radius: 5px; margin-top: 5px"
        />
      </div>
    </div>
  </div>
</section>
