<footer class="bg-dark">
  <div class="container">
    <div class="row" style="padding: 15px 15px">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <p class="" style="padding-top:15px">© {{ site.time | date: '%Y' }} | Dawn Schmid</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
        <a href="#"><img src="/img/Circle-Logo-White.png" width="50px" alt="" /></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
        <p style="padding-top:15px"><a href="#">Impressum</a> | <a href="#">Datenschutzerklärung</a></p>
      </div>
    </div>
  </div>
</footer>
